.admin-project-list {
    margin-left: 280px;
    margin-top: 74px;
    padding: 40px;
    font-family: "Inter", sans-serif;
    background: #fff;
}

.admin-project-list .default-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 20px;
}

.admin-project-list .default-header .default-sec-title {
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
}

.admin-project-list .default-header .add-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: #00a1d1;
    border: none;
    border-radius: 16px;
    padding: 8px 20px 8px 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    text-decoration: none;
}

.admin-project-list .default-header .add-btn:hover {
    background-color: #0091c1;
}

.admin-project-list .default-header .add-icon {
    font-size: 18px;
    line-height: 1;
    margin-top: -4px;
}

.project-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.project-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-3px);
}

.project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Body container fleksibel */
.project-card-body {
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Biar body bisa expand */
    justify-content: flex-end; /* Push content ke bawah */
}

/* Title dan meta di bawah */
.project-card-body h5 {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 4px;
}

.project-card-meta {
    font-size: 14px;
    color: #6b7280;
}

.card-actions {
    margin-top: 8px;
    display: flex;
    gap: 6px;
}

.card-actions .btn {
    padding: 2px 8px;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .admin-project-list {
        margin-left: 0;
    }

    .project-card-grid {
        grid-template-columns: 1fr;
    }
}
