.news-section {
    position: relative;
    padding: 112px 0px 105px 0px;
}

.news-section .sec-title a {
    position: absolute;
    right: 0px;
    bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
}

.news-section .sec-title a:hover {
    color: var(--theme-color);
}

.news-section .sec-title a i {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: var(--theme-color);
    top: 2px;
}

.news-block-one .inner-box {
    position: relative;
    display: block;
    transition: all 500ms ease;
    margin-bottom: 30px;
}

.news-block-one .inner-box .upper-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f4f8;
    padding: 40px;
}

.news-block-one .inner-box .upper-content .info-box {
    position: relative;
    display: block;
    min-width: 160px;
}

.news-block-one .inner-box .upper-content .info-box .post-date {
    position: relative;
    display: block;
    padding-bottom: 24px;
    margin-bottom: 44px;
}

.news-block-one .inner-box .upper-content .info-box .post-date::before {
    position: absolute;
    content: "";
    background-color: #dbdfe3;
    width: 70px;
    height: 1px;
    left: 0px;
    bottom: 0px;
}

.news-block-one .inner-box .upper-content .info-box .post-date h3 {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #e2e7ed;
    text-align: center;
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: 7px;
}

.news-block-one .inner-box .upper-content .info-box .author-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-block-one .inner-box .upper-content .info-box .author-box .author-image {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.news-block-one
    .inner-box
    .upper-content
    .info-box
    .author-box
    .author-image
    img {
    width: 100%;
    border-radius: 50%;
}

.news-block-one .inner-box .upper-content .image-box {
    position: relative;
    display: block;
}

.news-block-one .inner-box .upper-content .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.news-block-one .inner-box .upper-content .image-box .image img {
    width: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.news-block-one .inner-box:hover .upper-content .image-box .image img {
    transform: scale(1.05);
    opacity: 0.1;
}

.news-block-one .inner-box .upper-content .image-box .category {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    font-size: 15px;
    line-height: 22px;
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: 600;
    text-transform: uppercase;
    background-color: #e2e7ed;
    padding: 4px 10px;
    transition: all 500ms ease;
}

.news-block-one .inner-box:hover .upper-content .image-box .category {
    color: #fff;
    background-color: var(--theme-color);
}

.news-block-one .inner-box .upper-content .image-box .zoom-btn {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.news-block-one .inner-box .upper-content .image-box .zoom-btn a {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 56px;
    background-color: #f0f4f8;
    text-align: center;
    font-size: 20px;
    color: var(--title-color);
    opacity: 0;
}

.news-block-one .inner-box:hover .upper-content .image-box .zoom-btn a {
    opacity: 1;
}

.news-block-one .inner-box .upper-content .image-box .zoom-btn a:hover {
    color: #fff;
    background-color: var(--theme-color);
}

.news-block-one .inner-box .lower-content {
    position: relative;
    display: block;
    background-color: #f0f4f8;
    padding: 22px 40px;
    border-top: 1px solid #dbdfe3;
    transition: all 500ms ease;
}

.news-block-one .inner-box:hover .lower-content {
    background-color: #fff;
    border-color: #fff;
    padding-bottom: 65px;
    margin-bottom: -43px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.news-block-one .inner-box .lower-content h3 {
    display: block;
    font-size: 24px;
    line-height: 32px;
}

.news-block-one .inner-box .lower-content h3 a {
    display: inline-block;
    color: var(--title-color);
}

.news-block-one .inner-box .lower-content h3 a:hover {
    color: var(--theme-color);
}

.news-section .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.news-section .owl-carousel .owl-stage-outer .owl-item {
    opacity: 0;
    visibility: hidden;
}

.news-section .owl-carousel .owl-stage-outer .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.news-block-one .inner-box .lower-content .link-box {
    position: absolute;
    left: 40px;
    bottom: 22px;
}

.news-block-one .inner-box .lower-content .link-box a {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    opacity: 0;
}

.news-block-one .inner-box:hover .lower-content .link-box a {
    opacity: 1;
}

.news-block-one .inner-box .lower-content .link-box a:hover {
    color: var(--theme-color);
}

.news-block-one .inner-box .lower-content .link-box a i {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: var(--theme-color);
    top: 2px;
}

.news-section .owl-nav {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 33px;
}

.nav-style-one button::before {
    transition: all 500ms ease;
}

.nav-style-one button:hover::before {
    color: var(--theme-color) !important;
}

/* =========================================================
   NEWS SECTION - RESPONSIVE
========================================================= */

/* <= 991px */
@media only screen and (max-width: 991px) {
    .news-section .sec-title a {
        position: relative;
        bottom: 0px;
        margin-top: 15px;
    }
}

/* <= 767px */
@media only screen and (max-width: 767px) {
    .working-section,
    .news-section {
        padding: 62px 0px 55px 0px;
    }
}

/* <= 599px */
@media only screen and (max-width: 599px) {
}

/* <= 499px */
@media only screen and (max-width: 499px) {
    .news-section .owl-nav {
        display: none;
    }

    .news-section {
        padding-bottom: 40px;
    }

    .news-block-one .inner-box .upper-content {
        display: block;
    }

    .news-block-one .inner-box .upper-content .info-box {
        margin-bottom: 20px;
    }
}
