/* Layout */
.content-wrapper {
    display: flex;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 72px;
    background: #ffffff;
    border-right: 1px solid #00000033;
    padding: 20px 0;
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

.sidebar-logo {
    width: 150px;
    margin: 0 0 40px 24px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar.mobile-open {
    width: 280px;
}

/* Tampilkan text saat expand */
.sidebar.mobile-open .menu-text {
    display: inline;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item:hover {
    background: #f8f9fa;
}

.menu-item.active {
    background: #e6f7ff;
}

/* Sembunyikan text di mobile */
.menu-text {
    display: none;
}

.menu-item.active .menu-text {
    color: #00a1d1;
}

.menu-icon {
    width: 14px;
    height: 14px;
}

.sidebar-bottom {
    margin-top: auto;
}

.logout {
    color: #00a1d1;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 900;

    width: 100%;
    margin-left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #00000033;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 72px;
}

.search-text {
    color: #66696b;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.divider-line {
    width: 1px;
    height: 40px;
    background: #00000033;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info .user-name {
    display: none;
}

.search-container .search-text {
    display: none;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Mobile */
.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    background: #00a1d1;
    color: #fff;
    border: none;
    padding: 10px;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar.mobile-open {
    display: block;
    position: fixed;
    height: 100%;
    z-index: 1100;
}

/* Desktop */
@media (min-width: 1024px) {
    .hamburger,
    .sidebar-overlay {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 280px;
        position: fixed;
        z-index: 1000;
    }

    .search-container {
        margin-left: 310px;
    }

    .menu-text {
        display: flex;
    }

    .header {
        width: 100%;
        position: fixed;
    }

    .user-info {
        margin-right: 100px;
    }

    .user-info .user-name {
        display: block;
    }

    .search-container .search-text {
        display: block;
    }
}
