/** sidebar-popup **/

.sidebar-popup {
  position: fixed;
  left: -100%;
  top: 91px;
  width: 425px;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  background: #f0f4f8;
  transition: all 0.5s ease-in-out 0.1s;
}

.sidebar-popup.popup-visible {
  left: 0px;
  visibility: visible;
  opacity: 1;
}

.sidebar-popup .popup-inner{
  position: relative;
  display: block;
  padding: 50px;
  padding-bottom: 120px;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-popup .close-popup{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 54px;
  font-size: 20px;
  color: var(--title-color);
  background: #fff;
  cursor: pointer;
  text-align: center;
  transition: all 500ms ease;
}

.sidebar-popup .close-popup:hover{
  color: #fff;
  background-color: var(--theme-color);
}

.check-box-one input {
  display: none;
}

.check-box-one label {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--title-font);
  font-weight: 500;
  color: var(--title-color);
  padding-left: 24px;
  display: inline-block;
  cursor: pointer;
}

.check-box-one label:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 4px;
  width: 14px;
  height: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdd5dd;
  background: transparent;
}

.check-box-one label:after {
  position: absolute;
  content: '';
  left: 4px;
  top: 8px;
  width: 6px;
  height: 6px;
  background: var(--theme-color);
  opacity: 0;
  transition: all 500ms ease;
}

.check-box-one input:checked + label:after {
  opacity: 1;
}

.sidebar-popup .logo-box{
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.sidebar-popup .logo-box a{
  position: relative;
  display: inline-block;
}

.sidebar-popup .form-inner{
  position: relative;
  display: block;
  padding-bottom: 45px;
  border-bottom: 3px solid #cdd5dd;
  margin-bottom: 54px;
}

.sidebar-popup .form-inner::before{
  position: absolute;
  content: '';
  background-color: #cdd5dd;
  width: 70px;
  height: 1px;
  left: 0px;
  bottom: -7px;
}

.sidebar-popup .form-inner .form-group{
  position: relative;
  display: block;
  margin-bottom: 18px;
}

.sidebar-popup .form-inner .form-group label{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 8px;
}

.sidebar-popup .form-inner .form-group label i{
  position: relative;
  display: inline-block;
  font-size: 14px;
  top: 2px;
  color: var(--theme-color);
}

.sidebar-popup .form-inner .form-group input[type='email'],
.sidebar-popup .form-inner .form-group input[type='password']{
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #dbdfe3;
  font-size: 17px;
  color: #a5aaaf;
  padding: 10px 20px;
}

.sidebar-popup .form-inner .form-group input:focus{
  border-color: var(--theme-color);
}

.sidebar-popup .form-inner .forgot-password{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.sidebar-popup .form-inner .forgot-password button{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  color: #66696b;
  border-bottom: dashed;
  border-width: 1px;
  border-color: var(--theme-color);
  transition: all 500ms ease;
}

.sidebar-popup .form-inner .forgot-password button:hover{
  color: var(--theme-color);
}

.sidebar-popup .form-inner .theme-btn{
  width: 100%;
}

.sidebar-popup .form-inner .text-box p a{
  display: inline-block;
  color: var(--theme-color);
}

.sidebar-popup .form-inner .text-box p a:hover{
  text-decoration: underline;
}

.sidebar-popup .inner-box{
  position: relative;
  display: block;
  background-color: var(--theme-color);
  padding: 40px;
  overflow: hidden;
  margin-bottom: 40px;
}

.sidebar-popup .inner-box .icon-box{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 56px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  color: var(--theme-color);
  margin-bottom: 18px;
}

.sidebar-popup .inner-box h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 24px;
}

.sidebar-popup .inner-box h3 span{
  font-weight: 400;
}

.sidebar-popup .copyright p a{
  display: inline-block;
  color: var(--text-color);
}

.sidebar-popup .copyright p a:hover{
  text-decoration: underline;
}

.sidebar-popup .inner-box .light-icon{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 170px;
  color: rgba(255, 255, 255, 0.10);
}
